In [1]:
import pandas as pd
import os
import json
import sys
import matplotlib.pyplot as plt
import originpro as op
import numpy as np

In [2]:
path = r"C:\Users\flahertylab\OneDrive - Georgia Institute of Technology\Flaherty Research Group - ESS\01 - Raman Data\ESS-1-146_Transient_Additional_2\Cl Cutoff\Spectra"
dirlist = os.listdir(path)


df_list = []
for file in dirlist:
    file_path = path + "\\" + file
    name, extension = os.path.splitext(file)
    time = int(name.split('_')[-1])

    df_temp = pd.read_csv(file_path, sep='\t', names=['Wavenumber',time])
    df_list.append(df_temp)

# Merge data
df = df_list[0][['Wavenumber']]  # just one copy of Wavenumber
data_cols = [df_temp.iloc[:, 1] for df_temp in df_list]
df = pd.concat([df] + data_cols, axis=1)
df = df.apply(pd.to_numeric, errors='coerce')
df = df.set_index('Wavenumber')

# Sort data
cols = df.columns.tolist()
cols_sorted = sorted(cols, key=lambda x: float(x))
df = df[cols_sorted]
df

,0,37,75,113,151,189,227,265,303,341,...,18311,18349,18387,18425,18463,18501,18539,18577,18615,18643
Wavenumber,,,,,,,,,,,,,,,,,,,,,
1870.859375,215.841187,240.647263,257.167450,161.026520,46.298721,329.484283,207.240280,124.929504,343.829681,215.516327,...,126.342880,451.091125,211.711395,239.126022,344.568146,214.016891,385.297272,316.909821,182.421844,172.200546
1869.298828,86.459404,76.929596,105.168533,13.288572,-16.139524,233.425903,120.903069,-102.335602,382.261200,61.313274,...,183.709442,44.789276,200.496750,16.024496,9.262724,35.227982,112.111198,140.513336,302.933838,191.051056
1867.738281,101.912399,-7.488694,461.808197,11.421622,184.467041,309.996002,267.813202,101.079857,170.193024,239.915802,...,254.643906,221.512131,133.292007,-13.742118,-55.466122,24.207941,43.212357,-98.043526,454.037231,36.797489
1866.175781,17.052567,-86.420990,73.558624,135.663330,234.545853,137.880966,275.982269,-79.800491,-131.469666,-17.437973,...,246.709549,169.267227,-66.747314,-99.907738,-23.778568,-101.296989,-166.910812,214.474533,344.156830,120.817146
1864.615234,-183.648987,-47.362621,155.403107,169.684555,36.761127,90.596451,-83.083855,-46.115570,136.226242,153.680664,...,31.714462,-34.803493,57.181976,-97.542343,196.690613,-114.478279,291.962158,102.136360,281.993958,55.444595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106.857422,4349.937012,4285.641602,4125.770996,4249.817383,4281.679688,4105.397461,4167.885254,3598.605469,3910.099365,4475.395020,...,4256.619629,4428.076172,4350.110352,3850.588867,3902.968018,4472.531738,3989.618408,3794.933838,3983.987305,3011.846191
104.894531,2562.955566,2358.415527,2334.076416,2348.402588,2313.584717,2336.842041,2276.592529,2118.235840,1948.404663,2506.003906,...,2686.127930,2498.855469,2533.924072,2221.857178,2261.904297,2523.809814,2573.564697,2273.266113,2382.118896,1684.018188
102.931641,954.807129,1320.985474,981.226685,851.036438,1085.183228,975.092957,1089.028931,933.980774,788.753784,1078.962524,...,1206.098389,1049.125854,1174.548950,1127.913330,917.918640,1430.987305,1188.661377,987.194702,971.435608,765.556274
100.968750,54.697140,280.764069,442.756378,398.406555,-43.182739,117.155266,382.877380,103.656425,97.071281,393.051208,...,738.449646,331.665436,502.713623,270.485138,115.363968,769.113892,489.351654,303.846191,74.951820,28.103697
99.003906,-49.141151,6.210745,5.527938,2.394557,42.859909,-108.107262,-0.100801,-100.200264,-92.229980,0.296192,...,0.526299,-0.957743,1.736718,4.424379,-106.522659,0.845210,1.859097,3.526541,-70.472267,-28.863850

In [3]:
# Convert df to long format for origin
df.index.name = 'Wavenumber'
df_long = df.reset_index().melt(id_vars='Wavenumber', var_name='Time', value_name='Intensity')
df_long

         Wavenumber   Time    Intensity
0       1870.859375      0   215.841187
1       1869.298828      0    86.459404
2       1867.738281      0   101.912399
3       1866.175781      0    17.052567
4       1864.615234      0  -183.648987
...             ...    ...          ...
500390   106.857422  18643  3011.846191
500391   104.894531  18643  1684.018188
500392   102.931641  18643   765.556274
500393   100.968750  18643    28.103697
500394    99.003906  18643   -28.863850

[500395 rows x 3 columns]

In [4]:
print(type(df_long.to_numpy()))

<class 'numpy.ndarray'>

In [5]:
def origin_shutdown_exception_hook(extype, value, traceback):
    '''Ensures Origin gets shut down if there is an uncaught exception'''
    op.exit()
    sys.__excepthook__(extype, value, traceback)
if op and op.oext:
    sys.excepthook = origin_shutdown_exception_hook

if op.oext:
    op.set_show(True)

# Code here
op.set_show(True)


np_mat = df.to_numpy()  #.astype(np.int64)
matbook = op.new_book('m')
mat = matbook[0]
mat.from_np(np_mat)

msheet = op.find_sheet('m', '[MBook1]')
msheet.xymap = 0, 18643, 1870.859375, 99.003906, 
graph = op.new_graph(template='contour')
gl = graph[0]
plot = gl.add_mplot(msheet, z=0, type='contour')
gl.rescale()


path = r"C:\Users\flahertylab\OneDrive - Georgia Institute of Technology\Flaherty Research Group - ESS\01 - Raman Data\ESS-1-146_Transient_Additional_2\Cl Cutoff"
op.save(path + '\\' + 'heatmap.opju')

op.oext = True
if op.oext:
    op.exit()

In [6]:
print(op.path('e'))

C:\Program Files\OriginLab\Origin2023\